<h3><%= @gram_positive.name %></h3>

<h5>Characteristics:</h5>
<p><%= @gram_positive.characteristics %></p>
<h5>Colony Morphology:</h5>
<p><%= @gram_positive.colony_morphology %></p>
<h5>Tests:</h5>
<p><%= @gram_positive.tests %></p>
<h5>Notes:</h5>
<p><%= @gram_positive.notes %></p>
<h5>Clinical Significance:</h5>
<p><%= @gram_positive.diseases %></p>

<p><img src="<%= @gram_positive.image %>"></p>

<h5>Treatment:</h5>
<p><a href="<%= @gram_positive.link %>" target="_blank" rel="noreferrer noopener">Click here for treatment </a></p>



